<div class="maincontainer">

  <!-- <div class="cloud" id="cloud-base"></div>
  <div class="cloud" id="cloud-back"></div>
  <div class="cloud" id="cloud-mid"></div>
  <div class="cloud" id="cloud-front"></div>
  <svg width="0" height="0">
    <filter id="filter-base">
      <feTurbulence type="fractalNoise" baseFrequency="0.011" numOctaves="5" seed="8517" />
      <feDisplacementMap in="SourceGraphic" scale="120" />
    </filter>
    <filter id="filter-back">
      <feTurbulence type="fractalNoise" baseFrequency="0.011" numOctaves="3" seed="8517" />
      <feDisplacementMap in="SourceGraphic" scale="120" />
    </filter>
    <filter id="filter-mid">
      <feTurbulence type="fractalNoise" baseFrequency="0.011" numOctaves="3" seed="8517" />
      <feDisplacementMap in="SourceGraphic" scale="120" />
    </filter>
    <filter id="filter-front">
      <feTurbulence type="fractalNoise" baseFrequency="0.009" numOctaves="4" seed="8517" />
      <feDisplacementMap in="SourceGraphic" scale="50" />
    </filter>
  </svg> -->
  <div class="stars">
    <div class="star" *ngFor="let count of starCountArray"></div>
  </div>



  <div style="position:fixed;width: 100%;">

    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
  </div>
  <div id='title'>
    <span>
      TASK-U  
    </span>
    <br>
    <span>
      TASKS UPDATER
    </span>

  </div>
  <div class="midnight-moon">
    <div class="midnight-moon-circle midnight-moon-circle1 "></div>
    <div class="midnight-moon-circle midnight-moon-circle2 "></div>
    <div class="midnight-moon-circle midnight-moon-circle3 "></div>
    <div class="midnight-moon-circle midnight-moon-circle4 "></div>
  </div>
</div>