<div class="maincontainer" (mouseover)="showActionPanel()" [class.darkgalaxy]="darksky">

  <div class="stars">
    <div class="star" *ngFor="let count of starCountArray">
      <span style="animation: twinkle 0s ease-in infinite forwards alternate;">
        {{ attachedString }}
      </span>
    </div>
    <div class="star">
      <span style="animation: twinkle 0s ease-in infinite forwards alternate;">
        {{ attachedString }}
      </span>
    </div>
    <div class="star">
      <span style="animation: twinkle 0s ease-in infinite forwards alternate;">
        {{ attachedString }}
      </span>
    </div>
    <div class="star">
      <span style="animation: twinkle 0s ease-in infinite forwards alternate;">
        {{ attachedString }}
      </span>
    </div>
  </div>

  <div class="bgstars" [class.bgstarsrotateanimate]="rotatesky">
    <div id='stars'></div>
  </div>
  <div class="bgstars2" [class.bgstars2rotateanimate]="rotatesky">
    <div id='stars2'></div>
  </div>

  <div class="bgstars3" [class.bgstars3rotateanimate]="rotatesky">
    <div id='stars3'></div>
  </div>


  <div class='title'>
    <span>DREAM</span>
    <br>
    <!-- <span> WITH ME </span> -->
    <br>
    <span> NIGHT </span>
  </div>

  <div [style.opacity]="actionpanel?1:1" class="actionpanel">

    <div [class.activePanelBtn]="musicController.sound_on" (click)="musicController.toggle_sound()">
      <span class="material-icons">
        audiotrack
      </span>
    </div>

    <div  [class.activePanelBtn]="darksky"  (click)="darksky=!darksky;">
      <span class="material-icons">
        wallpaper
      </span>
    </div>

    <div [class.activePanelBtn]="realMoon" (click)="realMoon=!realMoon">
      <span class="material-icons">
        nights_stay
      </span>
    </div>

    <div  [class.activePanelBtn]="!rotatesky"  (click)="rotatesky=!rotatesky;">
      <span class="material-icons">
        auto_awesome
      </span>
    </div>
    <div [class.activePanelBtn]="attachedString.length >= 1" (click)="surprise()" >
      <span class="material-icons">
        celebration
      </span>
    </div>
    <div [class.activePanelBtn]="isFullScreen" (click)="togglefullscreen()">
      <span class="material-icons">
        fullscreen
      </span>
    </div>

  </div>



  <div *ngIf="!realMoon" class="midnight-moon">
    <div class="midnight-moon-circle midnight-moon-circle1 "></div>
    <div class="midnight-moon-circle midnight-moon-circle2 "></div>
    <div class="midnight-moon-circle midnight-moon-circle3 "></div>
    <div class="midnight-moon-circle midnight-moon-circle4 "></div>
  </div>
  <div *ngIf="realMoon" class="realmoon">
    <img src="assets/backgrounds/moon.png" height="200vh" width="200vh" alt="moon">
  </div>

</div>